html {
  background-color: #85dcb8;
}

#body {
  background: #85dcb8;
  overflow-y: hidden;
  min-height: 100%;
  font-family: "Courier New", monospace;
}

#footer {
  display:inline!important
}

#title {
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 25px;
  font-size: 80px;
}

#search {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50%;
}

#explore {
  background-color: #e27d60;
  border: none;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%
}

#card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}